/* .header{
      margin: 0 auto;
   background-color: #0E0C38;
   max-width: 1400.73px;
}
.logo{
       font-family: Freestyle Script;
    color: white;
    height: 70px;  
}
.main_container{
   max-width: 1520px;
    margin: 0 auto;
    background-color: #0E0C38;
}
.header_content{
    height: 100px;
    background-color: #0E0C38;
    display: flex;
}
.image_design{
    height: 150px;
    width: 500px;
    margin-left: 10px;
}
.About_us{
   
    display: flex;
}
.About_us_content{
 
    border: 2px solid black;
    width: 30%;
}
.About_us_contentimg{
    height: 200px;
    border: 2px solid black;
    width: 70%;
}
.information{
    border: 2px solid black;
    height:150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
   
}

.text{

    color:wheat;font-family: Poppins,;font-size: 50px;margin-top: -20px;font-weight: bold;
} */




